@{
    ViewData["Title"] = "Character Page";
}
<header>
    <h1 class="display-4">About Us</h1>
</header>

<body>
    <h1>Learn more about the group</h1>
    <h5>Javhior Jalolitdinor</h5>
    <h5>Chelesey</h5>
    <p>Birthday:</p>
    <p>Major:</p>
    <p>Year of graduation: 2024</p>

    <h5>Sam Ishida</h5>
    <p> Birthday: 4/16/2000</p>
    <p>Major: Information Technology Software Developer and Game Design</p>
    <p>Year of graduation: 2024</p>

    <h5>Chelesey</h5>
    <p>Birthday:</p>
    <p>Major:</p>
    <p>Year of graduation: 2024</p>
</body>