@{
    ViewData["Title"] = "Weapon Page";
}

<header>
    <h1 class="display-4">Apex Legends</h1>
</header>

<body>
    <h5>Pick your charcater. Round up your squad. Show everyone what Legends are made of.</h5>
    <img src="" alt="banner photo" />

    <div class="">
        <p>
            Maecenas vitae magna aliquam justo ornare porta. Etiam magna magna, tristique eget lectus lobortis, laoreet congue nunc. Sed malesuada vitae mauris et condimentum. Duis molestie lobortis turpis sed aliquet. Sed hendrerit justo a tortor fermentum tempus. Nunc convallis neque in felis sollicitudin feugiat. Maecenas suscipit nunc in diam hendrerit, at euismod nunc tristique.
        </p>
        <p>
            Maecenas vitae magna aliquam justo ornare porta. Etiam magna magna, tristique eget lectus lobortis, laoreet congue nunc. Sed malesuada vitae mauris et condimentum. Duis molestie lobortis turpis sed aliquet. Sed hendrerit justo a tortor fermentum tempus. Nunc convallis neque in felis sollicitudin feugiat. Maecenas suscipit nunc in diam hendrerit, at euismod nunc tristique.
        </p>
    </div>

</body>


